Flask==3.1.2
Flask-Login==0.6.3
Flask-SQLAlchemy==3.1.1
Jinja2==3.1.3
SQLAlchemy==2.0.44
Werkzeug==3.1.3
gunicorn==23.0.0
psycopg2-binary
Flask-SocketIO==5.5.1
eventlet==0.40.3
pillow==10.3.0
cloudinary==1.44.1
python-dotenv==1.2.1