<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <title>Item — Mountain Bike</title>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700;900&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="static/styles.css">
</head>


<body>
    <div class="container">
        <div class = "login-box">
            <img>
            <h3>Login</h3>
            <form method = "POST" action="{{ url_for('auth.login') }}">
                <div class = "input-section">
                    <input type = "text" name ="email" placeholder="Email" required/>
                </div>
                <div class = "input-section">
                    <input type = "password" name ="password" placeholder="Password" required/>
                </div>
                <button type="Submit">Log In</button>
            </form>

        </div>


    </div>

</body>