<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <title> Messaging </title>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700;900&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<script>
    var socket = io();
    socket.emit("join", );

    socket.on("message", function(data){
        var messages = document.getElementById("messages");
        messages.innerHTML += `<p>${data}<\p>`;
    });

    function sendMessage(){
        var msgInput = document.getElementById("msg");
        var message = msgInput.value;
        socket.send(message);
        msgInput.value = "";
    }
</script>
<body>
    <input id="msg" type="text" placeholder="Enter your message">
    <button onclick="sendMessage()"> Send </button>
    <div id="messages"></div>
</body>
<script src="{{ url_for('static', filename='script.js') }}"></script>
</html>