<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <title>Signup</title>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700;900&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="static/styles.css">
</head>


<body class = "login-background">
    <main class="page container">
        <div class = "card-login card-login-default">
            <!--Card header Section-->
            <div class = "card-login-header">
                <img class = "login-img" src = "{{ url_for('static', filename='assets/mulebay_logo.svg') }}" alt = "MuleBay Logo Image">
            </div>

            <!--Card Body Section-->
            <div class = "card-login-body">
                <h3 class = "login-title">Sign Up</h3>
                <form method = "POST" action = "{{ url_for('auth.signup')  }}">
                    <div class = "row">
                        <div class = "form-group col-md-12">
                            <input class="form-control input-lg" type = "text" name = "firstName" placeholder = "First Name">
                        </div>
                        <div class = "form-group col-md-12">
                            <input class="form-control input-lg" type = "text" name = "lastName" placeholder = "Last Name">
                        </div>
                        <div class = "form-group col-md-12">
                            <input class="form-control input-lg" type = "text" name = "email" placeholder = "Email">
                        </div>
                        <div class = "form-group col-md-12">
                            <input class="form-control input-lg" type = "password" name = "password" placeholder = "Password">
                        </div>
                    </div>

                    <!--Submit Section-->
                    <div class = "col-md-12">
                        <button class ="login-button" type = "submit">Submit</button>
                        <p class = "login-p">
                            Already have an Account?
                            <a class = "login-link" href = "{{ url_for('auth.login')  }}">Sign In</a>
                        </p>
                    </div>

                </form>
            </div>
            

        </div>
    </main>

    <footer class="footer">
        <div class="container footer__inner">
            <span>© <span id="year"></span> Mulebay</span>
        </div>
    </footer>
    <script src="static/script.js"></script>
</body>


