<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <title>Mulebay</title>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700;900&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="/static/styles.css">
  <link rel="icon" type="image/x-icon" href="/static/assets/favicon.ico">
</head>

<body class="login-background">
  <div class="login-location-setter">
    <main class="page container">
      <div class="card-login">

        <div class="login-text-box">
          <h1 class="login-title-large">Mulebay Marketplace</h1>
          <p>Colby-exclusive marketplace that connects students, faculty, and staff to trade items
            and improve sustainability on our campus
          </p>
        </div>

        <div class="login-function-box">          
          <h2 class="login-title-small">Begin your journey as a Colby merchant</h2>
          
          <!--Adding Flash Support: starts empty-->
          <div id = "flash-box"></div>

          
          <form method="POST" action="/login">
            <div class="col-md-12">            
              <div class = "separator"></div>

              <button id="google-login-btn" type="button" class="google-button" onclick="startGoogleLogin()">
                <img src="/static/assets/google_icon.png" alt="Google" class="google-icon">
                Sign in With Google
              </button>
            </div>
          </form>
        </div>
      </div>
    </main>
  </div>

  <footer class="footer">
    <div class="container footer__inner">
      <span>© <span id="year"></span> Mulebay</span>
    </div>
  </footer>
  <script src="/static/script.js"></script>
</body>
</html>
